body {
    background-color: lightgreen;
}

.image{
    text-align: center;
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
    width: 300px;
    animation: sombraAnimada 3s infinite;
}
#parrafo {
    text-align: center;
    size: 2px;

}
.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
    transform: scale(1.5);
    transform-origin: center;
}
@keyframes sombraAnimada {
    0% { 
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
        transform: scale(1);
    }
    50% { 
        box-shadow: 5px 5px 15px rgba(0,0,0,0.8);
        transform: scale(1.05);
    }   
    100% { 
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
        transform: scale(1)
    }
}